{% extends 'base.html.twig' %}

{% block title %}Edit ProductAttributeRelation{% endblock %}

{% block body %}
    <h1>Edit ProductAttributeRelation</h1>

    {{ include('product_attribute_relation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_attribute_relation_index') }}">back to list</a>

    {{ include('product_attribute_relation/_delete_form.html.twig') }}
{% endblock %}
